        form {
            color: white;
            font-family: sans-serif
        }

        .select {
            background-color: rgb(0, 0, 0);
            color: white;
            font-weight: bold;
            width: 200px;
            border: none;
            text-align: justify;
            font-style: italic;
            font-family: 'Aoboshi One';
        }

        .azul {
            background-color: rgb(0, 0, 0);
            color: rgb(0, 0, 0);
            font-weight: bold;
            width: 200px;
            font-style: italic;
            font-family: 'Aoboshi One';
        }

        body {
            font-family: 'Aoboshi One';
            font-size: 22px;
            background: #004FF9;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FFF94C, #004FF9);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FFF94C, #004FF9);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .ocupacion {
            font-weight: bold;
        }

        div {
            float: left;
            padding: 30px;
        }

        * {
            box-sizing: border-box;
        }

        label {
            color: rgb(0, 0, 0);
            font-weight: bold;
            display: block;
            margin-bottom: 8px;
            font-size: 14px;
            font-family: 'Aoboshi One';
        }


        .enviardatos {
            color: rgb(0, 0, 0);
            border: none;
            border: 3px solid white;
            padding: 10px 20px;
            font-weight: bold;
            cursor: pointer;
            font-size: large;
            background: #004FF9;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FFF94C, #004FF9);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FFF94C, #004FF9);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            font-family: 'Aoboshi One';
        }

        .logo {
            width: 95px;
            animation: girarX 2s linear infinite;
            transform-style: preserve-3d;
        }

        @keyframes girarX {
            from {
                transform: rotateY(0deg);
            }

            to {
                transform: rotateY(360deg);
            }
        }

        .select {
            background: #004FF9;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FFF94C, #004FF9);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FFF94C, #004FF9);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: rgb(0, 0, 0);
            font-weight: bold;
            width: 200px;
            border: 3px solid white;
            text-align: justify;
            font-style: italic;
            font-family: 'Aoboshi One';
        }

        .azul {
            background: #004FF9;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FFF94C, #004FF9);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FFF94C, #004FF9);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: rgb(0, 0, 0);
            font-weight: bold;
            width: 200px;
            border: 3px solid white;
            font-style: italic;
            font-family: 'Aoboshi One';
        }

        .prefijo {
            font-style: italic;
            font-family: 'Aoboshi One';
            background: #004FF9;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FFF94C, #004FF9);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FFF94C, #004FF9);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

    label {
  color: #0055aa; /* color del texto */
  font-weight: bold;
}

input[type="radio"] {
  accent-color: #0055aa; /* color del círculo */
}

.custom-radio {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-bottom: 8px;
}

