        form {
            color: white;
            font-family: sans-serif
        }

        .select {
            background-color: rgb(0, 0, 0);
            color: white;
            font-weight: bold;
            width: 200px;
            border: 3px solid white;
            text-align: justify;
        }

        .azul {
            background-color: rgb(0, 0, 0);
            color: rgb(247, 247, 247);
            font-weight: bold;
            width: 200px;
            border: 3px solid white;
            font-style: italic;
        }

        body {
            font-family: 'Agbalumo';
            font-size: 22px;
            background: #004FF9;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FFF94C, #004FF9);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FFF94C, #004FF9);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .ocupacion {
            font-weight: bold;
        }

        div {
            float: left;
            padding: 30px;
        }

        * {
            box-sizing: border-box;
        }

        label {
            color: rgb(255, 255, 255);
            font-weight: bold;
            display: block;
            margin-bottom: 8px;
            font-size: 14px;
        }

        .custom-range {
            -webkit-appearance: none;
            appearance: none;
            width: 300px;
            height: 10px;
            background: red;
            border: 2px solid white;
            /* Borde blanco */
            border-radius: 0;
            outline: none;
        }

        .custom-range::-webkit-slider-runnable-track {
            height: 10px;
            background: transparent;
            /* Fondo transparente para que se vea el efecto */
            border: 2px solid white;
            /* Borde blanco */
            border-radius: 0;
            box-shadow: inset 0 0 0 4px red;
            /* Simula el relleno rojo separado del borde */
        }

        /* Thumb cuadrado */
        .custom-range::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 10px;
            height: 10px;
            background: red;
            border: 2px solid white;
            /* Borde blanco */
            border-radius: 0;
            cursor: pointer;
            margin-top: -6px;
            /* Ajuste vertical por el borde */
        }

        .custom-range::-moz-range-track {
            height: 6px;
            background: transparent;
            border: 2px solid white;
            border-radius: 0;
            box-shadow: inset 0 0 0 4px red;
        }

        .custom-range::-moz-range-thumb {
            width: 10px;
            height: 10px;
            background: red;
            border: 2px solid white;
            border-radius: 0;
            cursor: pointer;
        }

        .centrar-boton {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
            clear: both;
        }


        .event-btn {
            background-color: rgb(0, 110, 188);
            color: white;
            border: none;
            padding: 10px 20px;
            font-weight: bold;
            cursor: pointer;
            font-size: large;
        }

        .enviardatos {
            color: white;
            border: none;
            padding: 10px 20px;
            font-weight: bold;
            cursor: pointer;
            font-size: large;
            border-radius: 40%;
        }

.logo {
    width: 95px;
    animation: girarX 2s linear infinite;
    transform-style: preserve-3d;
}

h2 {
height: 20%;
}