/* Navbar */
.navbar {
    padding: 5px 10px;
    background: linear-gradient(to right, #FFF94C, #004FF9);
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin: 25px;
    /* centra verticalmente */
}

.navbar a {
    text-decoration: none;
}

/* Lista */
.navbar ul {
    display: flex;
    justify-content: center;
    /* centra horizontalmente */
    align-items: center;
    /* centra verticalmente */
    list-style: none;
    flex: 1;
    /* rellena todo el espacio */
    margin: 0;
    padding: 0;
}


/* Items */
.navbar ul li {
    margin: 0 56px;
    text-align: center;
    font-family: 'Pacifico';
    font-size: 100%;
    padding: 10px;
}

/* Links */
.navbar ul li a {
    color: #000000;
    font-weight: bold;
}


/* Body */
body {
    font-family: 'Concert One';
    margin: 0;
    font-size: 22px;
    font-size: x-large;
    background-color: #000000;
}

/* Logos */
.logo {
    width: 95px;
    animation: girarX 2s linear infinite;
    transform-style: preserve-3d;
    padding: 10px;
    margin: 0px;
}

.logo1 {
    width: 15%;
    background: linear-gradient(to right, #FFF94C, #004FF9);
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
}

.logo-partidos {
    width: 10%;
}

@keyframes girarX {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

main {
    color: white;
    font-size: medium;
}

a {
    color: white;
}

.search-inline {
    width: 100%;
    position: relative;
    display: flex;
}

.search-inline--input {
    width: 30%;
    padding: 10px 10px 10px 45px;
    border: 5px ridge;
    border-color: rgba(255, 249, 76, 0.7) rgba(0, 79, 249, 0.7);
    border-radius: 10px;
    outline: none;
    color: #000000;
    font-size: px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1' viewBox='0 0 22 22' %3E%3Cpath d='M14.92 14.07l6.04 6.04c.23.24.23.62 0 .86-.24.23-.62.23-.85 0l-6.03-6.04C12.57 16.22 10.63 17 8.5 17 3.8 17 0 13.2 0 8.5S3.8 0 8.5 0 17 3.8 17 8.5c0 2.13-.78 4.08-2.08 5.57zM8.5 16c4.14 0 7.5-3.36 7.5-7.5C16 4.36 12.64 1 8.5 1 4.36 1 1 4.36 1 8.5 1 12.64 4.36 16 8.5 16z' fill='black' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 1.675em;
    background: rgb(255, 255, 255);
    font-weight: bold;
}

/* Pares */
table tr:nth-child(even) {
    background: linear-gradient(to right, #004FF9, #dfd702);
}

table tr:nth-child(even):hover {
    color: black;
    background-color: #007700;
}

/* Impares */
table tr:nth-child(odd) {
    background: linear-gradient(to right, #004FF9, #dfd702);
}

table tr:nth-child(odd):hover {
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #004FF9, #dfd702);
}


#Partidos table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    background: linear-gradient(to right, rgba(0, 79, 249, 0.7), rgba(255, 249, 76, 0.7));
    font-family: 'Alexandria';
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    overflow: hidden;
}

#Partidos th,
#Partidos td {
    border: 5px solid;
    border-color: white;
    padding: 5px;
    text-align: center;
}

.partidos-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Bot贸n hamburguesa */
.menu-btn {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    color: white;
    z-index: 9999;
}

/* Sidebar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.877);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    font-family: 'Pacifico';
}


.sidenav a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: block;
}

.sidenav a:hover {
    background: #ffffff;
    color: black;
}

/* Bot贸n cerrar */
.closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
}

/* para pantallas mas pequ帽as cuando la altura es menos de 450px , cambiar el stilo de la barra lateral (menos el relleno y el tama帽o de fuente mas peque帽o) */
@media screen and (max-height:450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}



#Clasificaci贸n table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    background: linear-gradient(to right, rgba(0, 79, 249, 0.7), rgba(255, 249, 76, 0.7));
    font-family: 'Alexandria';
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    overflow: hidden;
}

#Clasificaci贸n th,
#Clasificaci贸n td {
    border: 5px solid;
    border-color: white;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
}

.clasificacion-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

.logo-partidos {
    width: 50px;
    height: 50px;
    margin: 0 15px;
    vertical-align: middle;
}

/* Secci贸n Historia */
#Historia {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

/* Botones */
.IniciarSesion,
.Registrarse {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
}

/* Contenido */
.contenedor {
    display: flex;
    color: white;
}

.li-columna {
    background-color: black;
    border-radius: 25px;
    padding: 15px;
    color: white;
    font-size: 20px;
}


.ul-columna {
    background-color: black;
    border-radius: 25px;
    padding: 15px;
    color: white;
}

.h2-columna {
    background-color: black;
    border-radius: 25px;
    padding: 15px;
    color: white;
}

.p-columna {
    background-color: black;
    border-radius: 25px;
    padding: 15px;
    color: white;
    font-size: 20px;
}

.columna {
    width: 50%;
    background: rgba(0, 0, 0, 0.6);
    padding: 25px;
    text-align: justify;
    box-sizing: border-box;
}

/* Partidos hist贸ricos */
.foto-historica {
    display: flex;
    flex-wrap: wrap;
    gap: 300px;
    padding: 20px;
}

.bloque {
    width: 245px;
    text-align: justify;
}

.bloque img {
    width: 150%;
    height: auto;
    border-radius: 20px;
    margin: 10%;
}

.bloque p {
    font-size: 125%;
    margin-top: 8px;
    width: 150%;
    padding: 20px;
}

/* Zoom im谩genes */
.zoom,
.zoom1 {
    width: 200px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.zoom:hover,
.zoom1:hover {
    transform: scale(1.5);
}

/* Galer铆a */
.bloque-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
    text-align: center;
}

.jugador {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 220px;
}

.jugador img {
    background: linear-gradient(to right, rgba(255, 249, 76, 0.7), rgba(0, 79, 249, 0.7));
    border-radius: 25px;
    border: 10px ridge;
    border-color: rgba(255, 249, 76, 0.7) rgba(0, 79, 249, 0.7);
    width: 220px;
}

.jugador h3 {
    margin-top: 12px;
    color: white;
    font-size: 22px;
}

/* Porteros */
.bloque-galeria.porteros img,
.portero img {
    background: linear-gradient(to right, rgb(255, 57, 83), rgba(0, 79, 249, 0.7));
    border-radius: 25px;
    border: 10px ridge;
    border-color: rgb(255, 57, 83) rgba(0, 79, 249, 0.7);
    width: 220px;
}

.portero {
    flex-direction: column;
    align-items: center;
}

.portero h3 {
    margin-top: 12px;
    color: white;
}

/* Footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Concert One';
    font-size: 16px;
    color: white;
}

.contacto {
    max-width: 60%;
    text-align: left;
    margin-bottom: 10px;
}

.contacto a {
    color: #fff;
    text-decoration: underline;
}

.redes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.redes a img {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    object-fit: cover;
}

.tabla-container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

td:first-child {
    font-weight: bold;
}

td:nth-child(2) {
    text-align: left;
    font-weight: bold;
}

thead {
    background: #005bbb;
    color: white;
}

/* Responsive */
@media screen and (max-width: 600px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .contenedor {
        flex-direction: column;
    }

    .columna {
        width: 100%;
        margin-bottom: 20px;
    }
}

h2 {
    font-family: 'Bungee Shade';
    font-size: 30px;
    padding: 50px;
}

h1 {
    font-family: 'Bungee Shade';
    font-size: 40px;
    padding: 50px;
}

hr {
    height: 10px;
    width: 50%;
    background-color: rgb(255, 255, 255);
}

.himno-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*  centra horizontal */
    text-align: center;
}

#Noticias {
    color: white;
    border-radius: 10px;
    margin: auto;
    width: 90%;
    /*  CENTRA EL BLOQUE */
}

.noticias-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*  centra horizontal */
    text-align: center;
}

#Noticias .noticia {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* centra el contenido */
    margin: 50px auto;
    /* centra la caja */
    text-align: justify;
    width: 50%;
}

.noticia {
    background: linear-gradient(to right, rgba(255, 249, 76, 0.7), rgba(0, 79, 249, 0.7));
    border-radius: 15px;
    padding: 10px;
}

.noticia img {
    width: 96%;
    padding: 10px;
    height: 380px;
}

.sect {
    width: 100%;
    height: auto;
}

#sect1 {
    position: relative;
    overflow: hidden;
}



.video-historia {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.buscador {
    display: flex;
    gap: 5px;
    margin: 10px 0;
}

#busqueda {
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

.buscador button {
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    background: #fdd835;
    cursor: pointer;
    font-weight: bold;
}

.buscador button:hover {
    background: #fbc02d;
}

/* resaltado */
.highlight {
    background: yellow;
    color: black;
    padding: 2px;
}


.disafio-parrafo {
    text-align: center;
}

.adios-lukovic {
    text-align: center;
}

.cuartos-juvenil {
    text-align: center;
}

.mas-informacion {
    text-align: center;
    background-color: black;
    border-radius: 15px;
    padding: 5px;
    margin: 70px;
    align-self: center;
    font-size: larger;
}

.mas-informacion a {
    text-align: center;
}

.player {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #2c2c2c;
    padding: 10px;
    border-radius: 50px;
    width: 15%;
    border: 5px double;
    border-color: rgb(255, 249, 76, 0.7) rgb(0, 79, 249, 0.7);
}

button {
    background: yellow;
    border: none;
    color: rgb(0, 119, 255);
    font-size: 18px;
    width: 25px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

/* Slider */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 120px;
    height: 5px;
    background: #555;
    border-radius: 5px;
    outline: none;
}

/* Barra activa */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: linear-gradient(to right, rgb(255, 247, 0), rgb(0, 100, 249));
    border-radius: 50%;
    cursor: pointer;
}


.contenido {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 40%;
    font-size: 2rem;
}

@media screen and (min-width: 576px) {
    .columna {
        width: 50%;
    }
}

@media screen and (min-width: 993px) {
    .columna {
        width: 33.33%;
    }
}

@media screen and (orientation: landscape) {
    header {
        background-color: black;
        color: white;
    }
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .contacto {
        max-width: 100%;
    }

    .redes {
        margin-top: 15px;
    }
}

@media (max-width: 768px) {
    .noticias-container {
        padding: 1rem;
        gap: 1.5rem;
        display: flex;
        flex-direction: column;
    }

    .noticia img {
        height: 180px;
        border-radius: 15px;
    }
}