/* Navbar */

.navbar {
    padding: 5px;
    background: #004FF9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFF94C, #004FF9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFF94C, #004FF9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 100px;
}

.navbar ul {
    display: flex;
    justify-content: left;
    list-style: none;
    flex: 1;
}

.navbar ul li {
    margin: 0 65px;
    text-align: center;

}

.navbar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/*.Body.*/

body {
    font-family: 'Alexandria';
    font-size: 22px;
    font-size: 22px;
    font-size: x-large;
    background-color: #000000;
}

/*.Logo.*/

.logo {
    width: 95px;
    animation: girarX 2s linear infinite;
    transform-style: preserve-3d;
}

@keyframes girarX {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

main {
    color: white;
    font-size: medium;
}

#Historia {
    background-image: url("https://imgs.search.brave.com/hRjbso2Qoy99nbNIWTHSFOG_EmI3A9LmnkiYJkhXm-8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9lc3Rh/dGljb3MtY2RuLnBy/ZW5zYWliZXJpY2Eu/ZXMvY2xpcC84YjZk/MmRlNy1kYmNmLTRk/MDctYmYzMi02YjYx/ZDdiZWYxNWJfMTYt/OS1hc3BlY3QtcmF0/aW9fZGVmYXVsdF8w/LmpwZw");
    background-repeat: no-repeat, repeat;
    height: 460px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.IniciarSesion {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
}

.Registrarse {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
}

.contenedor {
    display: flex;
    color: white;
}

.columna {
    width: 50%;
    background: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border-radius: 20px;
    text-align: justify;
}

.foto-historica {
    display: flex;
    flex-wrap: wrap;
    gap: 250px;
}

.bloque {
    width: 245px;
    text-align: justify;
}

.bloque img {
    width: 150%;
    height: auto;
    border-radius: 10px;
}

.bloque p {
    font-size: 90%;
    margin-top: 8px;
    width: 150%;
}

.footer {
    flex: 1;
    text-align: right;


    color: rgb(255, 255, 255);

    padding: 15px;

    font-family: 'Acme';
    font-size: 22px;
}

.zoom {
    width: 200px;
    transition: transform 0.3s ease;
}

.zoom:hover {
    transform: scale(1.5);
    /* 1.2 = 20% m치s grande */
}

.a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.contacto {

    flex: 1;
    text-align: left;
    padding: 15px;
}

/* Media queries para columnas de la secci칩n Historia */
@media screen and (min-width: 576px) {
    .contenedor .columna {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 25px;
    }
}

@media screen and (min-width: 993px) {
    .contenedor .columna {
        float: left;
        width: 33.33%;
        box-sizing: border-box;
        padding: 25px;
    }
}

/* Media query para la orientaci칩n de pantalla */
@media screen and (orientation: landscape) {
    header {
        background-color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
    }
}
/* Media query para pantallas peque침as */
@media screen and (max-width: 600px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .contenedor {
        flex-direction: column;
    }

    .columna {
        width: 100%;
        margin-bottom: 20px;
    }
}